.contact-page {
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content {
    text-align: center;
}

.contact-title {
    font-size: 4rem;
    font-weight: normal;
    margin-bottom: 60px;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.contact-icon {
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}